* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.body {
    background-image: url("./pic/sky.webp");
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./pic/sunset.jpg");
  background-size: cover;
  opacity: 0.8;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 2.5rem;
}

#location {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
}
.desc {
  font-size: 3rem;
  text-transform: capitalize;
}

.circle {
  background-color: rgb(23, 142, 193);
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

